<div class="container" style="height: 100vh">
    <div style="display: flex; align-items: center; height: 100%; width: 100%; flex-flow: column">
        <div style="height: 36px; width: 100%; display: flex; justify-content: center; align-items: center;">Header</div>
        <div style="display: flex; justify-content: space-evenly; width: 50%;">
            <div class="btn btn-light" routerLink="/mapbox">Mapbox</div>
            <div class="btn btn-light" routerLink="/form">Forms</div>
        </div>
    </div>

</div>